* {
  box-sizing: border-box;
}

html, body {
  font-family: "Trebuchet MS";
}

.sample {
  color: #eee;
  width: 300px;
  height: 300px;
  border: solid 1px #eee;
  border-radius: 3px;
  display: inline-block;
  margin: 3px;
  font-size: 40px;
}

.sample {
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.inview {
  border-color: green;
  color: green;
}
